APP_NAME="RAG-App"
APP_VERSION="0.1.0"
APP_DESCRIPTION="A Retrieval-Augmented Generation (RAG) application built with FastAPI."

FILE_ALLOWED_TYPES=['test/plan' , "application/pdf"]
FILE_MAX_SIZE=10
FILE_DEFAULT_CHUNK_SIZE=512000 #512KB
